*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #8896CE;
}
h2{
    justify-content: center;
    display: flex;
}
.container{
    background-color: #E5E9FE;
    padding: 25px;
    border-radius: 20px;
    min-height: 350px;
    min-width: 300px;
}

form{
    margin: 30px 20px;
}
form select,button,input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}
form input{
    border: 1px solid lightsteelblue;
    font-size: 19px;
    height: 40px;
    padding-left: 6px;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.dropdown i{
    font-size: 20px;
    margin-top: 20px;
}

.select-container img {
    max-width: 40px;
}

.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    border-radius: 0.5rem;
    border: 1px solid lightsteelblue;
}
.select-container select {
    font-size: 15px;
    width: auto;
}

.msg{
    margin: 20px 20px;
}

form button{
    height: 30px;
    background-color: rgb(252, 255, 51);
    color: black;
    font-size: 20px;
    width: 250px;
    cursor: pointer;
    
}
